.add-form {
  text-align: center;
  border: 1px solid #9dc8ea;
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: rgba(0,0,0,.6);
}

label {
  color: #fafafa;
}

.form-div {
  margin: 10px;
  resize: none;
}
