// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-h1, .main-h2, .form-h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 72px;
  margin-right: 25px;
  margin-left: 25px;
}

.location-h1 {
  font-family: 'Lato', sans-serif;
  color: #9dc8ea;
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  margin-right: 25px;
  margin-left: 25px;
}

.form-h1 {
  margin-top: 50px;
}

.main-h2 {
  font-size: 40px;
  font-weight: 400;
  color: #444;
}

.winterscape {
  background-image: url('/images/winter.jpg');
  background-size: cover;
  background-position: center;
  height: 628px;
  margin-top: 50px;
}

.add-place {
  margin-top: 35px;
  margin-left: 560px;
  margin-right: 560px;
  text-align: center;
}

.add-place a:hover {
  text-decoration: none;
}

#add-button {
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  border-color: #333;
  background-color: #333;
  text-decoration: none;
  color: #fafafa;
  margin: auto;
  display: block;
  margin-top: 3em;
  margin-bottom: -2em;
}

#add-button:focus {
  outline: none;
}

#add-button:hover {
  background-color: #fafafa;
  border-color: #f0f0f0;
  color: #9dc8ea;
  text-decoration: none;
}

#add-button a:hover {
  text-decoration: none;
}

.place-display {
  margin-top: 3em;
  text-align: center;
  border: 1px solid #9dc8ea;
  margin-left: 550px;
  margin-right: 550px;
  padding: 25px;
  background-color: rgba(0,0,0,.6);
  color: #fafafa;
}

.display-table {
  margin-left: -200px;
  margin-top: 50px;
  border: 1px solid #fff;
  width: 600px;
  padding: 50px;
  background-color: rgba(0, 0, 0, .6);
}

td {
  padding: 15px;
  text-align: right;
}

.place-table {
  text-align: left;
  color: #fafafa;
}
