<h1 class="main-h1">Search Results for Places</h1>

<table>
  <% @place.each do |place| %>
    <tr>
      <td><%= place.location %></td>
      <td><%= link_to 'Show', place_path(place) %></td>
    </tr>
  <% end %>
</table>
